::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
    padding: 15px 0px 15px 150px;
}

.column {
    float: left;
}

.form-history-container {
    width: 20%;
}

.weather-container {
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form h1 {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
}

form input {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
}

