::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
    padding: 15px;
    padding-left: 15%;
}

.column {
    float: left;
}

.form-history-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#history {
    display: flex;
    flex-direction: column;
}

.history-btn {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
    text-align: center;
}

#weather-container {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-history-container h2 {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
    text-align: center;
}

form input {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-button {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(to right, blueviolet, blue);
    color: white;
}


@media screen and (max-width: 600px){ 
    .form-history-container {
        width: 100%;
    }
    .weather-container {
        width: 100%;
    }
    
}